<div>
  <h1 class="text-center" style="color: chocolate; margin-top: 20px; font-size: 60px;">{{titles}}</h1>
  <form ng-submit="signinKhoaHoc()">
    <div class="container" style="width: 1200px;">
      <div class="row">
        <div class="col-6">
          <div class="ms-5 mt-4">
            <label for="exampleFormControlInput1" class="form-label fw-bold" style="font-size: larger;">Họ và tên</label>
            <input type="text" style="width: 500px;" class="form-control" id="exampleFormControlInput1" placeholder="Họ và tên" ng-model="formsignin.name" required>
          </div>
          <div class="ms-5 mt-3">
            <label for="exampleFormControlInput1" class="form-label fw-bold" style="font-size: larger;">Email</label>
            <input type="email" style="width: 500px;" class="form-control" id="exampleFormControlInput1" placeholder="example@gmail.com" ng-model="formsignin.email" autocomplete="email" required>
          </div>
          <div class="ms-5 mt-1">
            <label for="exampleFormControlInput1" class="form-label fw-bold" style="font-size: larger;">Số điện thoại</label>
            <input type="text" style="width: 500px;" class="form-control" id="exampleFormControlInput1" placeholder="0123456789" ng-model="formsignin.phone" maxlength="11" required>
          </div>
        </div>
        <div class="col-6">
          <div class="ms-5 mt-4">
            <label for="exampleFormControlInput1" class="form-label fw-bold" style="font-size: larger;">Giới tính</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" ng-model="formsignin.sex">
              <label class="form-check-label" for="flexRadioDefault1">
                Nam
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" ng-model="formsignin.sex" checked>
              <label class="form-check-label" for="flexRadioDefault2">
                Nữ
              </label>
            </div>
          </div>
          <div class="ms-5 mt-1">
            <label for="exampleFormControlInput1" class="form-label fw-bold" style="font-size: larger;">Ngày Sinh</label>
            <input type="text" style="width: 500px;" class="form-control" id="exampleFormControlInput1" placeholder="dd/mm/yyyy" ng-model="formsignin.date" required>
          </div>
          <div class="ms-5 mt-1">
            <label for="exampleFormControlInput1" class="form-label fw-bold" style="font-size: larger;">Chọn khóa học</label>
            <select class="form-select form-select-lg" style="font-size: 15px;" aria-label="Default select example" ng-model="formsignin.course">
            <option selected>C#/ASP.Net</option>
            <option value="1">Java</option>
            <option value="2">Javascrip</option>
            <option value="3">HTML3/CSS5</option>
            </select>
          </div>
        </div>
      </div>
      <div class="ms-5 mt-5 mb-4">
        <label for="exampleFormControlTextarea1" class="form-label fw-bold" style="font-size: larger;">Ghi chú</label>
        <textarea class="form-control form-control-lg" id="exampleFormControlTextarea1" ng-model="formsignin.note" rows="3"></textarea>
      </div>
      <div class="container-fluid" style="width: 800px;">
          <button type="reset" class="btn btn-danger fw-bold" style="color: bisque; width: 100px; margin-left: 150px;">Clear</button>
          <button type="submit" class="btn btn-primary fw-bold" style="color: bisque; width: 100px; margin-left: 100px;">Submit</button>
          <a href="#!/list" class="float-end">
            <button class="btn btn-primary fw-bold" style="color: bisque; width: 100px; margin-left: 100px;">Show</button>
          </a>
      </div>
    </div>
  </form>
</div>