<div class="row">
    <div class="col-6 bg-body-secondary">
      <h1 class="text-center" style="color: chocolate; margin-top: 20px; font-size: 60px;">Học, Học nữa, Học mãi</h1>
      <p style="font-size: 20px; text-align: center; margin-top: 10px;">Chọn con đường học CNTT nhanh. Trải nghiệm phương <br>pháp học tập hoàn toàn mới</p>
      <nav class="navbar bg-body-tertiary">
        <div style="margin-left: 200px; margin-top: 50px;">
          <form class="d-flex" role="search">
            <input style="width: 500px;" class="form-control me-2 form-control-lg" type="search" placeholder="Bạn muốn học gì" aria-label="Search">
            <button class="btn btn-primary" type="submit">Search</button>
          </form>
        </div>
      </nav>
      <div class="row mt-5">
        <div class="col-6">
          <button style="height: 100px; width: 200px; margin-left: 200px;" type="button" class="btn btn-info fw-bold">Học để lấy bằng</button>
          <button style="height: 80px; width: 200px; margin-left: 200px;" type="button" class="btn btn-info fw-bold mt-2">Chứng chỉ CNTT chuyên <br>sâu</button>
          <button style="height: 60px; width: 200px; margin-left: 200px;" type="button" class="btn btn-info fw-bold mt-2">Phổ cập kiến thức</button>
        </div>
        <div class="col-6">
          <button style="height: 100px; width: 200px;" type="button" class="btn btn-info fw-bold">Chương trình học <br>kĩ thuật phần mềm <br>Software Engineer</button>
          <div class="mt-2">
            <button style="height: 80px; width: 200px;" type="button" class="btn btn-info fw-bold">Khóa lập trình viên cấp độ <br>Fresher</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div>
        <v-hover>
        <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./IMG/Banner.png" class="d-block w-100" alt="">
          </div>
          <div class="carousel-item">
            <img src="./IMG/sline1.jpeg" class="d-block w-100" alt="">
          </div>
          <div class="carousel-item">
            <img src="./IMG/sline2.png" class="d-block w-100" alt="">
          </div>
          <div class="carousel-item">
            <img src="./IMG/sine3.png" class="d-block w-100" alt="">
          </div>
          <div class="carousel-item">
            <img src="./IMG/fpt-polytechnic-dan-sao-4.png" class="d-block w-100" alt="">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </v-hover>
      </div>
      </div>
      <div class="mt-5">
        <h3 style="font-weight: 600; font-size: 32px; line-height: 44px;color: #1D293F; margin-bottom: 20px;">FPT Polytechnic – Cơ hội cho bất kỳ ai muốn <br>học CNTT một cách bài bản, chủ động, hiệu quả.</h3>
      </div>
      <div style="    font-weight: 300;
      font-size: 18px;
      line-height: 28px;
      color: #10203b;
      margin-bottom: 58px;">
        FPT Polytechnic là chương trình học CNTT thuộc <br>tập đoàn FPT, 100% dựa trên Internet, cung cấp các <br>khóa học từ căn bản như đến chuyên sâu về Công <br>nghệ thông tin. FUNiX cấp tín chỉ, chứng chỉ, bằng <br>tốt nghiệp,… được công nhận bởi các tập đoàn công <br>nghệ uy tín.
      </div>
    </div>
  </div>